<div th:fragment="professor-head(title)">
  <h1 th:text="${title}" style="font-weight: 600;"></h1>
  <div class="d-flex flex-row mt-4 mb-3">
    <div class="me-4">
      <div th:replace="fragments/buttons :: button2('create-professor','Crear Docente')"></div>
    </div>
    <div th:replace="fragments/inputs :: input2('         Buscar','Buscar', '/users/create-professor')"></div>
  </div>
</div>

<div th:fragment="labour-head(title)">
  <h1 th:text="${title}" style="font-weight: 600;"></h1>
  <div class="d-flex flex-row mt-4 mb-3">
    <div class="me-4">
      <div th:replace="fragments/buttons :: button2('create-labour','Crear Labor')"></div>
    </div>
    <div th:replace="fragments/inputs :: input2('         Buscar','Buscar', '/labours/create-labour')"></div>
  </div>
</div>