<nav th:fragment="navbar(username)" class="navbar navbar-expand-lg" style="font-weight: 700;">
  <div class="container-fluid p-0">
    <span class="navbar-brand collapse navbar-collapse navbar-brand" style="color: #474747; font-size: 14px;">Informe
      y
      evalución de
      actividades -
      Departamento de Sistemas -
      FIET</span>
    <a href="#" class="text-decoration-none text-white ms-auto">
      <img src="/static/img/user.png" th:src="@{/img/user.png}" alt="User" class="img-fluid rounded-circle me-2"
        style="width: 35px; height: 35px;">
      <span class="text-center" th:text="${username}"></span>
    </a>
  </div>
</nav>