<div th:fragment="tableProfessor" style="overflow-y: auto;">
    <table class="table table-striped" style="text-align: center; border-radius: 10px;
        overflow: hidden;">
        <thead class="table-dark align-middle">
            <tr>
                <th style="background-color: #7752FE !important;">Identificación</th>
                <th style="background-color: #7752FE !important;">Tipo De Identificación</th>
                <th style="background-color: #7752FE !important;">Nombre</th>
                <th style="background-color: #7752FE !important;">Tipo De Docente</th>
                <th style="background-color: #7752FE !important; min-width: 100px;">Estado</th>
                <th style="background-color: #7752FE !important;">Correo</th>
                <th style="background-color: #7752FE !important;">Ultimo Titulo</th>
                <th style="background-color: #7752FE !important;">Acciones</th>
            </tr>
        </thead>

        <tbody class="align-middle">
            <tr class="table-dark" th:each="professor: ${professors}">
                <td th:text="${professor.personalId}"></td>
                <td th:text="${professor.typePersonalId}"></td>
                <td th:text="${professor.firstName + ' ' + professor.lastName}"></td>
                <td>
                    <span th:if="${professor.professorType.name.toString() == 'PLANTA_MEDIO_TIEMPO'}">Planta - Medio
                        Tiempo</span>
                    <span th:if="${professor.professorType.name.toString() == 'CATEDRA_MEDIO_TIEMPO'}">Catedra - Medio
                        Tiempo</span>
                    <span th:if="${professor.professorType.name.toString() == 'PLANTA_TIEMPO_COMPLETO'}">Planta - Tiempo
                        Completo</span>
                </td>
                <td>
                    <span th:if="${professor.active}"
                        style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 5px; background-color: #1FF434;"></span>
                    <span th:if="${professor.active}">Activo</span>

                    <span th:if="${!professor.active}"
                        style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 5px; background-color: #F00;"></span>
                    <span th:if="${!professor.active}">Inactivo</span>
                </td>
                <td th:text="${professor.email}"></td>
                <td th:text="${professor.lastDegreeAchivement}"></td>
                <td>
                    <a th:href="@{/users/edit-professor/{email}(email=${professor.email})}"
                        class="btn btn-info btn-sm text-white mt-1">Editar</a>

                    <a th:href="@{/autoevaluations/add-autoevaluation/{personalId}(personalId=${professor.Id})}"
                        class="btn btn-success btn-sm text-white mt-1 p-0">Crear Autoevaluación</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:fragment="tableLabour" style="overflow-y: auto;">
    <table class="table table-striped" style="text-align: center; border-radius: 10px;
        overflow: hidden;">
        <thead class="table-dark align-middle">
            <tr>
                <th style="background-color: #7752FE !important;">Nombre</th>
                <th style="background-color: #7752FE !important;">Tipo De Labor</th>
                <th style="background-color: #7752FE !important; min-width: 100px;">Estado</th>
                <th style="background-color: #7752FE !important;">Horas Asignadas</th>
                <th style="background-color: #7752FE !important;">Acciones</th>
            </tr>
        </thead>

        <tbody class="align-middle">
            <tr class="table-dark" th:each="labour: ${labours}">
                <td th:text="${labour.labourName}"></td>
                <td>
                    <span th:if="${labour.type.code.toString() == 'D'}">Docencia</span>
                    <span th:if="${labour.type.code.toString() == 'TD'}">Trabajos Docencia</span>
                    <span th:if="${labour.type.code.toString() == 'PI'}">Proyectos Investigación</span>
                    <span th:if="${labour.type.code.toString() == 'TI'}">Trabajos Investigación</span>
                    <span th:if="${labour.type.code.toString() == 'AD'}">Administración</span>
                    <span th:if="${labour.type.code.toString() == 'AS'}">Asesoría</span>
                    <span th:if="${labour.type.code.toString() == 'S'}">Servicios</span>
                    <span th:if="${labour.type.code.toString() == 'E'}">Extensión</span>
                    <span th:if="${labour.type.code.toString() == 'C'}">Capacitación</span>
                    <span th:if="${labour.type.code.toString() == 'OS'}">Otros Servicios</span>
                </td>

                <td>
                    <span th:if="${labour.active}"
                        style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 5px; background-color: #1FF434;"></span>
                    <span th:if="${labour.active}">Activo</span>

                    <span th:if="${!labour.active}"
                        style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 5px; background-color: #F00;"></span>
                    <span th:if="${!labour.active}">Inactivo</span>
                </td>
                <td th:text="${labour.assignedHours}"></td>
                <td>
                    <a th:href="@{/labours/edit-labour/{name}(name=${labour.labourName})}"
                        class="btn btn-info btn-sm text-white">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:fragment="tableAutoevaluationAll" style="overflow-y: auto;">
    <table class="table table-striped" style="text-align: center; border-radius: 10px;
        overflow: hidden;">
        <thead class="table-dark align-middle">
            <tr>
                <th style="background-color: #7752FE !important;">ID</th>
                <th style="background-color: #7752FE !important;">Docente</th>
                <th style="background-color: #7752FE !important; min-width: 100px;">ACTO</th>
                <th style="background-color: #7752FE !important;">Estado</th>
                <th style="background-color: #7752FE !important;">Fecha Inicio</th>
                <th style="background-color: #7752FE !important;">Fecha Fin</th>
                <th style="background-color: #7752FE !important;">Notificar</th>
                <th style="background-color: #7752FE !important;">Acciones</th>
            </tr>
        </thead>

        <tbody class="align-middle">
            <tr class="table-dark" th:each="autoevaluation: ${autoevaluations}">
                <td th:text="${autoevaluation.id}"></td>
                <td th:text="${autoevaluation.userRole.user.firstName + ' ' + autoevaluation.userRole.user.lastName}">
                </td>
                <td>
                    <span th:if="${autoevaluation.act}"
                        style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 5px; background-color: #1FF434;"></span>
                    <span th:if="${autoevaluation.act}">Si</span>

                    <span th:if="${!autoevaluation.act}"
                        style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 5px; background-color: #F00;"></span>
                    <span th:if="${!autoevaluation.act}">No</span>
                </td>
                <td>
                    <span th:if="${autoevaluation.state.toString() == 'EJECUCION'}"
                        style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 5px; background-color: #FFC107;"></span>
                    <span th:if="${autoevaluation.state.toString() == 'EJECUCION'}">En Ejecución</span>

                    <span th:if="${autoevaluation.state.toString() == 'TERMINADO'}"
                        style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 5px; background-color: #1FF434;"></span>
                    <span th:if="${autoevaluation.state.toString() == 'TERMINADO'}">Terminado</span>

                    <span th:if="${autoevaluation.state.toString() == 'SUSPENDIDO'}"
                        style="display: inline-block; width: 12px; height: 12px; border-radius: 50%; margin-right: 5px; background-color: #F00;"></span>
                    <span th:if="${autoevaluation.state.toString() == 'SUSPENDIDO'}">Suspendido</span>
                </td>

                <td th:text="${autoevaluation.initDate.toString()}"></td>

                <td th:text="${autoevaluation.finishDate.toString()}"></td>

                <td>
                    <div th:replace="~{fragments/buttons :: button3}">
                    </div>
                </td>
                <td>
                    <a th:href="@{/autoevaluations/modify-autoevaluation/{autoevaluationId}(autoevaluationId=${autoevaluation.Id})}"
                        class="btn btn-info btn-sm text-white">Ver Detalles</a>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:fragment="tableAutoevaluationAdd" style="overflow-y: auto;">
    <form th:action="@{/autoevaluations/add-autoevaluation(userIdP=${userId})}" th:object="${autoevaluation}"
        method="post">
        <table class="table table-striped" style="text-align: center; border-radius: 10px;
        overflow: hidden;">
            <thead class="table-dark align-middle">
                <tr>
                    <th style="background-color: #7752FE !important;">ID del Usuario</th>
                    <th style="background-color: #7752FE !important;">Nombre de la Labor</th>
                    <th style="background-color: #7752FE !important;">ACTO (Si Aplica)</th>
                    <th style="background-color: #7752FE !important;">Estado</th>
                    <th style="background-color: #7752FE !important;">Resultado</th>
                    <th style="background-color: #7752FE !important;">Evaluación</th>
                    <th style="background-color: #7752FE !important;">Acciones</th>
                </tr>
            </thead>

            <tbody class="align-middle">
                <tr class="table-dark">
                    <td th:text="${userId}"></td>
                    <td>
                        <select class="form-control p-2"
                            style="font-weight: 700; border-radius: 15px; border: 3px solid #1f1f20; background-color: #0E0E0E; color: #FFFFFF;"
                            id="labour" name="selectedLabour.id" th:field="*{id}">
                            <option th:each="labour : ${labours}" th:value="${labour.id}"
                                th:text="${labour.labourName}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <input class="p-2"
                            style="font-weight: 700; border-radius: 15px; border: 3px solid #1f1f20; background-color: #0E0E0E; color: #FFFFFF;"
                            id="act" type="checkbox" th:field="*{act}">
                    </td>
                    <td>
                        <select class="form-control p-2"
                            style="font-weight: 700; border-radius: 15px; border: 3px solid #1f1f20; background-color: #0E0E0E; color: #FFFFFF;"
                            id="state" name="state" th:field="*{state}">
                            <option value="EJECUCION">En Ejecución</option>
                            <option value="TERMINADO">Terminado</option>
                            <option value="SUSPENDIDO">Suspendido</option>
                        </select>
                    </td>
                    <td>
                        <input class="form-control p-2"
                            style="font-weight: 700; border-radius: 15px; border: 3px solid #1f1f20; background-color: #0E0E0E; color: #FFFFFF;"
                            id="result" type="text" th:field="*{result}" disabled>
                    </td>
                    <td>
                        <input class="form-control p-2"
                            style="font-weight: 700; border-radius: 15px; border: 3px solid #1f1f20; background-color: #0E0E0E; color: #FFFFFF;"
                            id="evaluation" name="evaluation" type="number" th:field="*{evaluation}" disabled>
                    <td>
                        <div th:replace="~{fragments/buttons :: button1('submit','Crear Autoevaluación')}"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>


<div th:fragment="tableAutoevaluationDocente" style="overflow-y: auto;">
    <table class="table table-striped" style="text-align: center; border-radius: 10px;
        overflow: hidden;">
        <thead class="table-dark align-middle">
            <tr>
                <th style="background-color: #7752FE !important;">ID</th>
                <th style="background-color: #7752FE !important;">Labor</th>
                <th style="background-color: #7752FE !important; min-width: 100px;">TipoLabor</th>
                <th style="background-color: #7752FE !important; min-width: 100px;">Horas Asignadas</th>
                <th style="background-color: #7752FE !important;">Fecha Inicio</th>
                <th style="background-color: #7752FE !important;">Fecha Fin</th>
                <th style="background-color: #7752FE !important;">Acciones</th>
            </tr>
        </thead>

        <tbody class="align-middle">
            <tr class="table-dark" th:each="autoevaluation: ${autoevaluations}">
                <td th:text="${autoevaluation.id}"></td>
                <td th:text="${autoevaluation.labour.labourName}">
                </td>
                <td th:text="${autoevaluation.labour.type.code}"></td>
                <td th:text="${autoevaluation.labour.assignedHours.toString()}"></td>
                <td th:text="${autoevaluation.initDate.toString()}"></td>
                <td th:text="${autoevaluation.finishDate.toString()}"></td>

                <td>
                    <a th:href="@{/autoevaluations/perform-autoevaluation/{autoevaluationId}(autoevaluationId=${autoevaluation.Id})}"
                        class="btn btn-info btn-sm text-white">Realizar</a>

                </td>
                <tr class="table-dark" th:each="autoevaluation: ${autoevaluationsT}">
                    <td th:text="${autoevaluation.id}"></td>
                    <td th:text="${autoevaluation.labour.labourName}">
                    </td>
                    <td th:text="${autoevaluation.labour.type.code}"></td>
                    <td th:text="${autoevaluation.labour.assignedHours.toString()}"></td>
                    <td th:text="${autoevaluation.initDate.toString()}"></td>
                    <td th:text="${autoevaluation.finishDate.toString()}"></td>
    
                    <td>
                        <a th:href="@{/autoevaluations/view-deatails/{autoevaluationId}(autoevaluationId=${autoevaluation.Id})}"
                            class="btn btn-success btn-sm text-white">Ver Detalles</a>
    
                    </td>
            </tr>
        </tbody>
    </table>
</div>