:root {
    --primary-color: #2b53e4;
    --secondary-color: #32A0EF;
    --tertiary-color: #474747;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: #2b53e4 !important;
    border-color: #2b53e4 !important;
}

input::placeholder {
    color: #BCBCBC !important;
}

body {
    background-color: #e0e0e0;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}