<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:replace="fragments/configuration :: bootstrap">
</head>

<body class="vh-100 d-flex justify-content-start align-items-start flex-row">
    <div th:replace="fragments/navbar :: navbar"> </div>

    <div class="mb-3 d-flex justify-content-center align-items-center text-white bg-dark"
        style="width: 80%; height: 100%;">
        <form th:action="@{/users/create-professor}" th:object="${user}" method="post">
            <label class="form-label">Identificación</label>
            <input class="form-control" type="text" th:field="*{personalId}">
            <label class="form-label">Tipo Identificación</label>
            <input class="form-control" type="text" th:field="*{typePersonalId}">
            <label class="form-label">Nombre</label>
            <input class="form-control" type="text" th:field="*{firstName}">
            <label class="form-label">Apellidos</label>
            <input class="form-control" type="text" th:field="*{lastName}">
            <label class="form-label">Tipo Docente</label>
            <input class="form-control" type="text" th:field="*{professorType.name}">
            <label class="form-label">Correo</label>
            <input class="form-control" type="text" th:field="*{email}">
            <button class="btn btn-primary" type="submit"> submit</button>
        </form>
    </div>
</body>

</html>