<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link th:replace="~{fragments/configuration :: bootstrap}">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" th:href="@{/css/style.css}">
    <style>
        @keyframes moveUpDown {

            0%,
            100% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-7px);
            }
        }

        .moving-image {
            animation: moveUpDown 5s ease-in-out infinite;
        }
    </style>
</head>

<body style="background-color: #0E0E0E; color: #FFFFFF; font-family: Inter;">

    <div class="d-flex align-items-center justify-content-center"
        style="min-height: 100vh; position: relative; z-index: 1; overflow: hidden;">
        <img class="position-absolute top-0 end-0 moving-image" src="/static/img/Ellipse1.svg"
            th:src="@{/img/Ellipse1.svg}"
            style="width: 450px; height: 450px; margin-top: -100px; margin-right: -100px;">
        <img class="position-absolute bottom-0 start-0 moving-image" src="/static/img/Ellipse2.svg"
            th:src="@{/img/Ellipse2.svg}"
            style="width: 450px; height: 450px; margin-bottom: -100px; margin-left: -100px;">

        <div class="container" style="max-width: 400px; min-width: 300px; position: relative; z-index: 2;">
            <h1 class="mb-5" style="font-weight: 800; text-align: center;">Iniciar Sesión</h1>
            <form th:action="@{/login}" method="post" class="flex-column">
                <div class="input-group mb-5">
                    <div th:replace="~{fragments/inputs :: input1('email','username','Correo')}"></div>
                </div>

                <div class="input-group">
                    <div th:replace="~{fragments/inputs :: input1('password','password','Contraseña')}"></div>
                </div>

                <div class="py-3">
                    <div th:if="${param.error}" class="text-center text-danger" style="font-weight: 600;">
                        Correo o contraseña incorrectos.
                    </div>

                    <div th:if="${param.logout}" class="text-center text-warning" style="font-weight: 600;">
                        Haz cerrado sesion.
                    </div>
                </div>

                <div class="text-center">
                    <div th:replace="~{fragments/buttons :: button1('submit','Iniciar Sesión')}"></div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>